:root {
  --primary: #462e24;
  --secondary: #FDF8F1;
  --tertiary: #f8f8f7;
}

.login-container {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary)
}

.login-card {
  background-color: var(--secondary);
  border-color: var(--primary);
  padding: 40px;
  border-radius: 20px;
  width: 420px;
  text-align: center;
}

.login-card h3 {
  font-size: 12px;
  margin-bottom: 20px;
  color: var(--primary);
}

.login-card input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  margin-bottom: 20px;
  outline: none;
  background-color: transparent;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 12px;
}